body {
    background: rgb(0, 130, 130);
    font-family: lores-12,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.friend {
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black;
  background-color: #bfc0bf;
}

.bar {
    background: #bfc0bf;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: ridge 2px white;
}

.startBefore {
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
}

#start:active {
    border-top: ridge 2px black;
    border-left: ridge 2px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
}

#start {
    background: #bfc0bf;
    background-size: 17px 15px;
    text-align: right;
    font-weight: bolder;
    font-size: 12px;
    width: 52px;
    height: 21px;
    float: left;
    clear: left;
    padding: 1px 2px;
    margin-left: 2px;
    cursor: default;
    user-select: none;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer {
    border-top: ridge 2px black;
    border-left: ridge 2px black;
    border-bottom: ridge 2px white;
    border-right: ridge 2px white;
    background: #e6e5e5;
    background-size: 17px 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    height: 25px;
    width: 22%;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3%;
    cursor: default;
    user-select: none;
}

.footer2 {
  border-top: ridge 2px black;
  border-left: ridge 2px black;
  border-bottom: ridge 2px white;
  border-right: ridge 2px white;
  background: #e6e5e5;
  background-size: 17px 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  height: 25px;
  width: 22%;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1%;
  cursor: default;
  user-select: none;
}

.footer3 {
  border-top: ridge 2px black;
  border-left: ridge 2px black;
  border-bottom: ridge 2px white;
  border-right: ridge 2px white;
  background: #e6e5e5;
  background-size: 17px 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  height: 25px;
  width: 22%;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1%;
  cursor: default;
  user-select: none;
}

.footer4 {
  border-top: ridge 2px black;
  border-left: ridge 2px black;
  border-bottom: ridge 2px white;
  border-right: ridge 2px white;
  background: #e6e5e5;
  background-size: 17px 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  height: 25px;
  width: 22%;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1%;
  cursor: default;
  user-select: none;
}

#clock {
    background: #bfc0bf;
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
    background-size: 17px 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    width: 52px;
    height: 21px;
    padding: 1px 2px;
    margin-right: 2px;
    cursor: default;
    user-select: none;
    float: right;
}

img {
    height: 50px;
    width: 50px;
    float: left;
    clear: left;
    padding: 15px 10px 1px 1px;
}

figcaption {
  float: left;
  clear: left;
  text-align: center;
  color: white;
  font-size: 10px;
  width: 20%;
  font-family: lores-12,sans-serif;
  font-weight: 400;
  font-style: normal;
}

figure {
  margin: auto;
  float: left;
  width: 20%;
  padding: 3px;
  clear: left;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

button {
    font-family: lores-12,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.welcome {
    flex: 100%;
}

.wwe {
    margin: 0%;
    margin-bottom: -2%;
}

.leave {
    margin-left: auto;
    background: #bfc0bf;
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-bottom: ridge 2px black;
    border-right: ridge 2px black;
    margin: 2;
    height: 30px;
    margin-bottom: 2%;
    margin-top: 0%;
    height: 20px;
    flex: 3%;
}

.ex {
    margin: -1%;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.window {
    background: #bfc0bf;
    width: 50%;
    text-align: left;
    margin-left: 25%;
    margin-top: 12%;
    padding: 10px;
    border-top: ridge 2px white;
    border-left: ridge 2px white;
    border-right: ridge 2px black;
    border-bottom: ridge 2px black;
}

.first_window {
  background: #bfc0bf;
  width: 50%;
  text-align: left;
  margin-left: 20%;
  margin-top: 3%;
  padding: 10px;
  border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-right: ridge 2px black;
  border-bottom: ridge 2px black;
}

.white {
    background: white;
    width: 94%;
    text-align: center;
    margin-top: 5%;
    padding: 2%;
    border-top: ridge 2px black;
    border-left: ridge 2px black;
    border-right: ridge 2px white;
    border-bottom: ridge 2px white;
}

.blue {
    width: 102%;
    background: navy;
    color: white;
    text-align: left;
    padding-left: 1%;
    padding-top: -5%;
    margin: -1% 0% -1% -1%;
    display: flex;
}

* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

  .pop_window {
    margin-left: 15%;
    margin-top: -28%;
  }

  .example_work_1 {
    margin-left: 60%;
    margin-top: -23%;
    width: 40%;
  }

  .example_work_2 {
    margin-left: 60%;
    margin-top: -36%;
    width: 40%;
  }

  .about_window {
      margin-left: -7%;
      margin-top: -14%;
  }

  .case_study_window {
      margin-left: -5%;
      margin-top: 20%;
  }

  .portfolio_window {
    margin-left: 30%;
    margin-right: 0%;
    margin-top: 10%;
  }

  .dropup {
    background: #bfc0bf;
    background-size: 17px 15px;
    text-align: right;
    font-weight: bolder;
    font-size: 12px;
    width: 52px;
    height: 21px;
    float: left;
    clear: left;
    padding: 1px 2px;
    margin-left: 2px;
    cursor: default;
    user-select: none;
  }

  .dropup-content {
    display: none;
    position: absolute;
    bottom: 26px;
    background-color: #bfc0bf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .dropup-content a {
    color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropup-content a:hover {background-color: #ddd}

.sidetalk {
  position: absolute;
  bottom: 5px;
  width: 15%;
  height: 97%;
  background: gray;
}

.sidetalk h2 {
  position: relative;
}

.window_word {
  font-weight: bold;
  color: #bfc0bf;
  transform: rotate(270deg);
}

.ninetyfive {
  color: white;
  margin-bottom: 55px;
  margin-top: 105px;
  transform: rotate(270deg);
}

.show_works {
  height: 105%;
  width: 105%;
}

.head {
  height: auto;
  width: 70%;
}

#about_words {
  text-align: left;
}